* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info {
    display: none;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(0, 0, 250, 0.7);
    padding: 20px 50px;
}

canvas {
    background-color: #eee;
}

#github {
    position: fixed;
    top: 10px;
    right: 10px;
}

#github a {
    text-decoration: none;
    color: inherit;
    opacity: 0.5;
}

#github a:hover {
    opacity: 1;
}
